.dark {
  background-color: #111;
  background: #111;
  color: rgb(170, 170, 170);
  min-height: 100vh;

  .sidebar {
    background-color: #111;
    border-right: 0.2px solid #333;
    .center,
    .bottomSidebar {
      span {
        color: rgb(170, 170, 170);
      }

      ul {
        li {
          &:hover {
            background-color: #333;
          }
        }
      }

      .colorOption {
        span {
          color: rgb(170, 170, 170);
        }
        &:hover {
          background-color: #333;
        }
      }
    }
  }

  .navbar {
    border-bottom: 0.2px solid #333;

    .wrapper {
      .menuIcon,
      .item {
        color: rgb(170, 170, 170);
      }
      .logoContainer {
        .logo {
          color: rgb(170, 170, 170);
        }
      }
    }
  }

  .chart .chartGrid {
    stroke: rgb(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: rgb(150, 150, 150);
      border: 0.5px solid rgb(228, 228, 228, 0.219);
    }
  }

  .home {
    .container .listContainer {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .widget,
  .featured,
  .chart,
  .single .singleContainer .top .left,
  .new .newContainer .bottom,
  .new .newContainer .top,
  .datatable .datatableTitle {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.3);
  }

  .widget {
    .left {
      .linkRouter {
        color: rgb(170, 170, 170);
      }
    }
  }

  .new {
    input {
      background-color: transparent;
    }
  }

  .single {
    .singleContainer {
      .bottom {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  .datatable {
    .cellWithStatus {
      &.active,
      &.in {
        background-color: rgba(0, 128, 0, 0.05);
      }
      &.pending {
        background-color: rgba(189, 189, 3, 0.05);
      }
      &.passive,
      &.out {
        background-color: rgba(255, 0, 0, 0.05);
      }
    }

    .cellAction {
      .viewButton {
        color: rgb(150, 150, 150);
        border: none;
        border-bottom: 2px solid rgba(0, 0, 139);
      }

      .deleteButton {
        color: rgb(150, 150, 150);
        border: none;
        border-bottom: 2px solid rgba(220, 20, 60);
      }
    }

    .datagrid {
      color: rgb(150, 150, 150);
      border: none;
      stroke: rgb(150, 150, 150);

      .css-rtrcn9-MuiTablePagination-root {
        color: rgb(150, 150, 150);
      }

      .MuiDataGrid-cell {
        border-bottom: 0.5px solid rgb(228, 228, 228, 0.219);
      }

      .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
      .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
        color: white;
      }
    }
  }
}
