.widget {
  display: flex;
  flex: 1;
  min-width: 200px;
  padding: 10px;
  justify-content: space-between;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.7);
  border-radius: 10px;
  height: 135px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      color: rgb(160, 160, 160);
      letter-spacing: 2px;
    }

    .counter {
      font-size: 32px;
      font-weight: 300;
      letter-spacing: 5px;
    }

    .link {
      font-size: 16px;
      border-bottom: 1px solid gray;
      width: max-content;
      letter-spacing: 1px;
    }

    .linkRouter {
      font-size: 16px;
      text-decoration: none;
      color: black;
      border-bottom: 1px solid gray;
      width: max-content;
      letter-spacing: 1px;
    }

    .percentage {
      font-size: 18px;
      display: flex;
      align-items: center;

      &.positive {
        color: green;
      }

      &.negative {
        color: red;
      }
    }

    .icon {
      font-size: 26px;
      padding: 5px;
      border-radius: 5px;
      align-self: end;
    }
  }
}
