.sidebar {
  position: sticky;
  top: 0;
  flex: 1;
  border-right: 0.5px solid rgb(231, 228, 228);
  min-height: 100vh;
  background-color: #fff;
  height: 100%;

  .center {
    padding-top: 7px;
    padding-left: 20px;
    ul {
      list-style: none;

      li {
        border-radius: 10px;
        display: flex;
        width: 180px;
        align-items: center;
        padding: 10px;
        margin-bottom: 12px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: rgba(100, 57, 255, 0.15);
        }

        .icon {
          font-size: 21px;
          color: #7451f8;
        }

        span {
          font-size: 16px;
          font-weight: 600;
          color: #555;
          margin-left: 10px;
        }
      }

      .title {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        color: #999;
        margin-top: 25px;
        margin-bottom: 5px;
      }
    }
  }

  .bottomSidebar {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 50px 20px;

    .colorOption {
      width: 180px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      transition: 0.3s;
      cursor: pointer;

      span {
        color: #555;
        border-bottom: 1px solid #555;
        width: 40px;
      }

      .icon {
        font-size: 8px;

        height: 28px;
        width: 28px;
        border-radius: 5px;
        padding: 1.2px;
      }

      &:nth-child(1) {
        .icon {
          border: 1px solid;
        }
      }

      &:nth-child(2) {
        .icon {
          background-color: #333;
          color: whitesmoke;
        }
      }

      &:hover {
        background-color: rgba(100, 57, 255, 0.15);
      }
    }
  }
}
